a {
  color: #333;
  text-decoration: none;
}

.container8 {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  height: 55vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header h1 span {
  color: #b50d10;
}

.main-header p {
  font-size: 2rem;
}

img {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
  color: #343148;
}

.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}



@media(max-width:600px) {
  .card {
    display: block;
  }
}
        
.headcl{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headcl1{
  color: black;
  font-family:inherit;
}
.btnContainer1{
  height: 40px; 
} 
.btn {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFDD66;
  background: #343148;
  border-radius: 0;
  transition: .3s;
  border-radius: 30px;
  margin-top: 40px;

}
.btn:hover{
  background-color: #e2d192;
  color: black;
}