.page-header {
  position: relative;
  margin-bottom: 45px;
  top: -39px;
  padding: 150px 0 90px 0;
  text-align: center;
  background: #F7CAC9;
}


/* home/causes
================================= */
.cause {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border: 1px solid #1f76bd;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}


.cause .cause-img {
  margin-bottom: 15px;
  width: 100%;
}
.cause .cause-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.cause .cause-details {
  text-align: justify;
  padding: 0 15px;
  font-size: 13px;
  margin-bottom: 15px;
  min-height: 115px;
}
.cause:hover {
  background: #f0f0f0;
  color: #144d7b;
  border-color: #144d7b;
}

	/* Responsive
/* Large devices (large desktops, 1200px and Down) */
@media (max-width: 1200px) {
  .about-us-col {
    padding: 15px;
  }

  .reasons-col:hover .on-hover {
    padding: 15px;
  }

  .reasons-col:hover .on-hover {
    padding: 25px;
  }
}
