.joinUsPage{ 
   box-sizing: border-box; 
   height: 120vh ;
   display: flex;
   align-items: center;
}

.joinUsPage>label{
  font-weight: 600;
}

.JoinUsContainer{
  box-sizing: border-box;
  background-color: #FFDD66; 
  box-shadow: 1px 5px 5px 8px #777575;
  border-radius: 5px;
  height:fit-content;
  padding : 2.5em;
  
}



@media (max-width:1000px) {
  .joinUsPage{ 
   margin: 1.6em;
 }
}
